@charset "UTF-8";
.container{margin: 0 auto;}
    
.tab {
	      width:508px;
	      height:380px;
	      position:relative;
	      margin:10px;
	      margin-top:12px;
	      clear:both;
	       
}
.menu{
	width:120px;
	height:35px;
	background:#E5E8BB;
	float:left;
	list-style:none;
	padding:6px;
	padding-bottom:1px;
	margin-left:4px;
	text-align:center;
	display:block;
	cursor: pointer;
	color:#7E8260;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-top:#CED1A9 2px solid;
	border-left:#CED1A9 2px solid;
	border-right:#CED1A9 2px solid;
	//box-shadow:2px 2px 7px rgba(0,0,0,0.3),
        }
.menu:first-child {
		  margin-left:-0.5px;
}
.active,.hover {
	 position:relative;
	 background:#BFC68F;
	 border-top:#6B655D 2px solid;
	 border-left:#7E8260 2px solid;
	 border-right:#7E8260 2px solid;
         z-index:2;
}
img#legend{
position:relative;
margin-left:10px;
}
div.col-sm-2{
padding-right:5px;
padding-left:5px;
height:300px;
width:60px;
}

div.col-sm-10{
padding-left:15px;
padding-right:0;
}
.content {
	 width:580px;
	 height:440px;
	//border:#BFC68F 2px solid;
	 border:#7E8260 2px solid;
	 background:#BFC68F;
	 top:33px;
	 left:0;
	 padding-left:10px;
	 padding-right:10px;
	 position:absolute;
	 border-top-right-radius: 5px;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
	 box-shadow:5px 5px 7px rgba(0,0,0,0.3);
	 z-index:1;
}



.colask {
//position:relative;
//clear:both;
//float:left;
//width:100%; /* ページ全体幅 */
//overflow:hidden;
min-height:500px;
}
 
.rightmenu {
background:#fccbff; /* 右カラム背景色 */
background-image: url("./dot.png");
//background-image: url("http://shinzan.human.waseda.ac.jp/~itonaomi/naomi/css/dot1.png");
 background-repeat: repeat;
 text-align: center;
}
 
.rightmenu .colleft {
//float:left;
//width:200%;
//margin-left:-200px;
//position:relative;
//right:100%;
background:#cbe6ff; /* 左カラム背景色 */
background-image: url("dot2.png");
 background-repeat: repeat;
 text-align: center;
}
 
.rightmenu .col1wrap {
//float:left;
//width:50%;
//position:relative;
//left:50%;
padding-bottom:1em;
}
 
 
.rightmenu .col2 {
//border:solid 4px black;
}




 .arrow_answer,
.arrow_question {
    //position: relative;
    background: #fff;
    border: 1px solid #c8c8c8;
   // padding: 20px;
    border-radius: 10px;
   // width: 55%;
   // float: right;
}
.arrow_question {
    //float: left;
}
.arrow_answer:after,
.arrow_answer:before,
.arrow_question:after,
.arrow_question:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_question:after,
.arrow_question:before { right: 100% }
.arrow_answer:after,
.arrow_answer:before { left: 100% }
.arrow_answer:after,
.arrow_question:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-top: -15px;
}
.arrow_answer:after { border-left-color: #fff; }
.arrow_question:after { border-right-color: #fff; }
.arrow_answer:before,
.arrow_question:before {
    border-color: rgba(200, 200, 200, 0);
    border-width: 16px;
    margin-top: -16px;
}
.arrow_answer:before { border-left-color: #c8c8c8; }
.arrow_question:before { border-right-color: #c8c8c8; }
//.question_image { float: left;
                 // margin-right; 5px;
                 // width: 20%;
//}
//.answer_image {
    //float: right;
    //margin-left: 5px;
    //width: 20%;
//}
.quest	ion_Box {
    margin-bottom: 25px;
    overflow: hidden;.arrow_question
}
 
//.answer_image img{ border-radius: 50px; float: right;}
//.question_image img { border-radius: 50px;}
 
@media only screen and (max-width: 767px) {
.arrow_question {
//float: right;
}
.arrow_answer {
//float: left;
}
}
 
 * {
            box-sizing: border-box;
        }



        .box {
          position: relative;
               background: #ccc;
               width: 100px;
               margin-bottom: 20px;
               padding: 5px;        }

        .box:before,
        .box:after {
            content: '';
            position: absolute;
            display: block;
        }           

        .box.top:after {
            top: -9px;
            left: 5px;
            border-bottom: 10px solid #ccc;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        .box.bottom:after {
            bottom: -9px;
            left: 5px;
            border-top: 10px solid #ccc;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        .box.left:after {
            top: 10px;
            left: -9px;
            border-top: 5px solid transparent;
            border-right: 10px solid #ccc;
            border-bottom: 5px solid transparent;
        }

        .box.right:after {
            top: 10px;
            right: -9px;
            border-top: 5px solid transparent;
            border-left: 10px solid #ccc;
            border-bottom: 5px solid transparent;
        }

body{
 //margin:0;
 //padding:0;
 color:#666;
 background-image: url("dot1.png");
 background-repeat: repeat;
 text-align: center;
}
header{
 //width: 40px;
 //margin: 0px top;
 //padding: 40px 0px;
 }
div#header{
 width: 100%;
 margin-top: 40px;
}


bottom{
margin: 3px;
font-size: 70%;
}
p#bottom{
margin-top:-20px;
margin-right:70px;
}

.icon{
  height:50px;
}

#history{
  max-height:400px;
  overflow-y:scroll;
}

#rireki{
  max-height:420px;
  overflow-y:scroll;
  padding:10px;
 }

#graph_title{
margin-top:-5px;
margin-bottom:-1px;
}

#graph_tate{
margin-bottom:-1px;
}

#ribbon{
//margin-bottom:10px;
}


.tooltip {
  position: absolute;
  z-index: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  pointer-events: none;
  color:#eceece;
  transition: opacity .5s ease-out;
}

.tooltip.tooltip-hidden {
  opacity: 0;
}

.ct-chart {
  position: relative;
}

.ct-chart .ct-label.ct-horizontal,
.ct-chart .ct-label.ct-vertical {
  color: rgba(0, 0, 0, 0.3);
}
.ct-chart .ct-grid.ct-horizontal,
.ct-chart .ct-grid.ct-vertical {
  shape-rendering: crispEdges;
  stroke-width: 1px;
  stroke-dasharray: 1px 4px;
  stroke: rgba(0, 0, 0, 0.2);
}

.ct-chart .ct-point {
  stroke-width: 9px !important;
}
.ct-chart .ct-line {
  stroke-width: 4px !important;
}

.ct-chart .ct-series.ct-series-a .ct-point{
stroke: #996C1E !important;
border-color:#996C1E;
}
.ct-chart .ct-series.ct-series-b .ct-point{
stroke: #470E52 !important;
}
.ct-chart .ct-series.ct-series-c .ct-point{
stroke: #2C6614 !important;
}
.ct-chart .ct-series.ct-series-d .ct-point{
stroke: #1E4B99 !important;
}
.ct-chart .ct-series.ct-series-e .ct-point{
stroke: #991E33 !important;
border-color:#6e1625;
}
.ct-chart .ct-series.ct-series-a .ct-line{
stroke: #996C1E !important;
border-color:#996C1E;
}
.ct-chart .ct-series.ct-series-b .ct-line{
stroke: #470E52 !important;
}
.ct-chart .ct-series.ct-series-c .ct-line{
stroke: #2C6614 !important;
}
.ct-chart .ct-series.ct-series-d .ct-line{
stroke: #1E4B99 !important;
}
.ct-chart .ct-series.ct-series-e .ct-line{
stroke: #991E33 !important;
border-color:#6e1625
}
